# Ignore everything by default
*

# Keep gitignore itself
!.gitignore



# Keep root docs / agent rules
!README.md
!AGENT.md
!PRD/PRD_v1_2.md
!FuncFlow/FuncFlow_v1_4.md
!SPEC/SPEC_v1_4.md

# Keep selected source directories
!pico/
!pico/**

!aider/
!aider/**

!pico_origin/
!pico_origin/**

!.gitattributes

# Keep project docs
!doc/
!doc/**